* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #c1c8e4;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.main-container {
  margin-top: 65px;
  width: 100%;
  background-color: rgb(212, 209, 209);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  width: 100%;
}
