.hot-card-container img {
  max-width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.hot-card-container {
  width: 30%;
  margin: 10px;
}

.hot-card-container h1 {
  color: white;
}

.hot-card-container button {
  background-color: white;
  color: black;
  border-radius: 5px;
  font-weight: 700;
  transition: all 300ms;
  margin-top: 5px;
  border: 1px solid black;
}

.hot-card-container button:hover {
  background-color: rgb(179, 176, 176);
}

.hot-card-container button:active {
  background-color: rgb(124, 124, 124);
}

.hot-card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hot-cards-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.trending {
  color: white;
  margin-left: 100px;
  margin-top: 30px;
}

.hot-description {
  color: white;
}

.hot-card-container button {
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 1092px) {
  .hot-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hot-card-container {
    width: 100%;
  }
}
