.hot-card-container img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.hot-card-container {
  width: 30%;
}

.hot-cards-container {
  display: flex;
}

.hot-description {
  color: white;
  background-color: green;
}

.hot-card-container button {
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 1092px) {
  .hot-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hot-card-container {
    width: 100%;
  }
}
