.searchcard-container {
  background-color: rgba(226, 226, 226, 0.932);
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  margin-bottom: 5px;
  width: 92%;
  margin-left: 80px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.searchcard-container img {
  margin-right: 10px;
  padding: 0;
  transition: all 300ms;
}

.description {
  font-size: 20px;
  margin-top: 15px;
  max-height: 50%;
  overflow-y: scroll;
}

.description::-webkit-scrollbar {
  display: none;
}

.searchcard-container img:hover {
  cursor: pointer;
  transform: scale(105%);
  filter: none;
}

.container-card {
  display: flex;
  flex-direction: row;
  max-height: 300px;
}

.searchcard-container button {
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  margin-right: 5px;
  transition: all 300ms;
  background-color: rgb(255, 255, 255);
  font-weight: 700;
  margin-bottom: 5px;
}

.searchcard-button-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2px;
}

.searchcard-container button:hover {
  background-color: rgba(0, 0, 0, 0.089);
  color: white;
}
