.toplist-items {
  display: flex;
  flex-direction: column;

  width: 1400px;
}

.toplist-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
}

.toplist-header {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.toplist-card {
  background-color: rgb(215, 215, 215);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: 5px;
  max-width: 100%;
  color: black;
}

.toplist-card button {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 700;
}

.toplist-card .buttondiv {
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.toplist-card button:hover {
  background-color: rgba(0, 0, 0, 0.212);
}

.toplist-image {
  max-width: 210px;
  margin-right: 20px;
  transition: all 300ms;
}

.toplist-info {
  width: 5%;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
